@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  height : 100vh;
  display: flex;
  justify-content: center; 
  /* background: linear-gradient(to right, rgb(107, 138, 208), rgb(78, 144, 161)); */
  background-color: rgb(14, 35, 49);
  color: white;
}

#root{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
}